{% extends "base.html" %}
{%block body%}
<div class='container shadow-lg p-3 rounded-lg'>
    <form action="/add" method='post' class='form-group m-0' autocomplete="off">
        <div class='input-group mb-3'>
            <div class='input-group-prepend'>
                <span class='input-group-text'>Title</span>
            </div>
            <input type="text" name='title' class='form-control'>
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'>
                <span class='input-group-text'>Video</span>
            </div>
            <input type="text" name='video_link' class='form-control'>
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'>
                <span class='input-group-text'>Notes</span>
            </div>
            <input type="text" name='notes_link' class='form-control'>
        </div>

        <button type='submit' class='btn btn-success'>Submit</button>
    </form>
</div>
{%endblock%}