{% extends "base.html" %}
{% block body%}
<div class='animate__animated animate__backInLeft row'>
    <input type="text" id='code' class='form-control form-control-lg col-10 rounded-0 border-dark border-right-0' style='border-width:3px;'>
    <button id='get-btn' class='btn btn-outline-success  col-2 rounded-0' style='border-width:3px;'>Get</button>
</div>


<div class='container title-box mt-3 mb-3'>    
    <h1 id='title' class='p-0' style="font-family: Georgia, 'Times New Roman', Times, serif;">

    </h1>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id='video'></iframe>
</div>

<div class='container notes-box'>
    <a href="" id='notes'></a>
</div>


<script>
    $("#get-btn").click(function(){
        var code=$("#code")[0].value
        var video = $("#video")[0]
        var notes = $("#notes")[0]

        $.ajax({
            url:"/get",
            method:"POST",
            data:{"code":code},
            success:function(response){
                console.log(response)
                if(response.status=="0")
                    console.log("not found")
                else
                {
                    console.log("i got it!")
                    $("#title")[0].innerHTML=response.title
                    video.setAttribute("src",response.video)
                    notes.setAttribute("href",response.file)
                    notes.innerHTML="notes"
                }
            },
            error:function(x,y,z){
                console.log(x,y,z)
            }
        })
    })
</script>
{% endblock %}